
<div class="carousel">
  <div class="content__title">
    {{title}}
    <div class="carousel__buttons">
      <span class="active"><i class="tio tio-chevron-left"></i></span>
      <span class="ml-1"><i class="tio tio-chevron-right"></i></span>
    </div>
  </div>
  <div class="carousel__list d-flex">
    <div class="carousel__item col-3">
      <img src="/assets/images/anh1.png" alt="">
      <div class="carousel__info">
        <div class="carousel__name">
          Best friend
        </div>
        <div class="carousel__type">
          Kananishino
        </div>
        <div class="carousel__view">
          546 lượt xem
        </div>
      </div>
    </div>
    <div class="carousel__item col-3">
      <img src="/assets/images/anh2.png" alt="">
      <div class="carousel__info">
        <div class="carousel__name">
          Best friend
        </div>
        <div class="carousel__type">
          Kananishino
        </div>
        <div class="carousel__view">
          546 lượt xem
        </div>
      </div>
    </div>
    <div class="carousel__item col-3">
      <img src="/assets/images/anh3.png" alt="">
      <div class="carousel__info">
        <div class="carousel__name">
          Best friend
        </div>
        <div class="carousel__type">
          Kananishino
        </div>
        <div class="carousel__view">
          546 lượt xem
        </div>
      </div>
    </div>
    <div class="carousel__item col-3">
      <img src="/assets/images/anh4.png" alt="">
      <div class="carousel__info">
        <div class="carousel__name">
          Best friend
        </div>
        <div class="carousel__type">
          Kananishino
        </div>
        <div class="carousel__view">
          546 lượt xem
        </div>
      </div>
    </div>
  </div>
</div>
