
<div class="header">
  <div class="header__main">
    <div class="header__left">
      <i class="tio tio-search"></i>
      <input type="text" placeholder="Search">
    </div>
    <div class="header__right">
      <div class="header__filter cursor-pointer">
        <i class="tio tio-filter-outlined mr-0-5"></i>Bộ lọc
      </div>
      <div class="header__require ml-1">
        <a href="" class="header__button--require">
          <i class="tio tio-arrow-upward mr-0-5"></i>
          <span>
            Gửi yêu cầu</span>
        </a>
      </div>
      <div class="header__user  cursor-pointer ml-1">
        <i class="tio tio-account-circle"></i>
      </div>
    </div>
  </div>
</div>
