
<div class="sidebar">
  <div class="sidebar__logo">
    <div class="sidebar__logo--center">
      Logo
    </div>
  </div>
  <div class="sidebar__menu">
    <ul>
      <li>
        <a href="" class="sidebar__link active">
          <i class="tio tio-home"></i>home
        </a>
        <ul class="sidebar__submenu">
          <li>
            <a href="" class="sidebar__link active">jpop</a>
          </li>
          <li>
            <a href="" class="sidebar__link">anime</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="" class="sidebar__link">
          <i class="tio tio-chart-bar-4"></i>voice chart
        </a>
      </li>
      <li>
        <a href="" class="sidebar__link">
          <i class="tio tio-heart-outlined"></i>yêu thích nhất
        </a>
      </li>
      <li>
        <a href="" class="sidebar__link">
          <i class="tio tio-bookmark-outlined"></i>my playlist
        </a>
      </li>
      <li>
        <a href="" class="sidebar__link">
          <i class="tio tio-time"></i>lịch sử
        </a>
      </li>
      <li>
        <a href="" class="sidebar__link">
          <i class="tio tio-settings-outlined"></i>setting
        </a>
      </li>
      <li>
        <a href="" class="sidebar__link">
          <i class="tio tio-error-outlined"></i>about us
        </a>
      </li>
    </ul>
  </div>
</div>
