<div class="content">
  <div class="row">
    <div class="sidebar card">
      <div class="sidebar-header">
        <span>Tên danh mục</span>
      </div>
      <ul>
        <li *ngFor="let item of folders; index as i">
          <a [routerLink]="['/translate', item.categoryId]" [routerLinkActive]="['active']" class="nav-link">{{item.categoryName}}</a>
        </li>
      </ul>
    </div>
    <div class="body">
      <div class="container">
        <app-list [data]="folders[0]?.categoryId"></app-list>
      </div>
    </div>
  </div>

</div>
