
  <div class="option">
    <button *ngIf="list.length != 0" (click)="screen == 1 ? screen = 2 : screen = 1" pButton pRipple type="button" label="flashcard" class="p-button-raised p-button-secondary p-button-text mr-1"></button>
    <button *ngIf="list.length != 0" pButton pRipple type="button" label="fill" class="p-button-raised p-button-secondary p-button-text"></button>
    <button *ngIf="list.length != 0" (click)="randomIndex()" pButton pRipple type="button" icon="pi pi-refresh" class="p-button-raised p-button-secondary p-button-text float-right"></button>
  </div>
  <div class="content">
    <div class="list card" *ngIf="screen == 1">
      <div class="item" *ngFor="let item of list" (click)="show(item)">
        <span class="icon">{{iconType(item.type)}}</span>
        <span class="name">{{item.name}}</span>
      </div>
      <div class="not-item" *ngIf="list.length == 0 && screen == 1">
        Danh sách trống.
      </div>
    </div>
    <app-flashcard *ngIf="screen == 2" [flashcard]="flashcard" [index]="index" (setStatus)="changeStatus($event)" [quantity]="quantity" (setIndex)="changeIndex($event)"></app-flashcard>
  </div>
  <p-dialog [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
            [draggable]="false" [resizable]="false">
    <div class="item-detail">
      <div class="bg-name">
        <div class="item-name">{{item?.name}}</div>
      </div>
      <div class="detail">
        <div class="item-mean">{{item.mean != "null" ? item.mean : ''}}</div>
        <div class="item-type">({{item?.type}})</div>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>
