
<div class="chart__item">
  <div class="chart__img col-4">
    <span class="mr-1 chart_tt">1,</span>
    <img src="/assets/images/anh3.png" alt="">
  </div>
  <div class="chart__info col-4">
    <div class="chart__name">
      Best friend
    </div>
    <div class="chart__type">
      Kananishino
    </div>
  </div>
  <div class="chart__view col-4">
    546 lượt xem
  </div>
</div>
<div class="chart__item">
  <div class="chart__img col-4">
    <span class="mr-1 chart_tt">1,</span>
    <img src="/assets/images/anh3.png" alt="">
  </div>
  <div class="chart__info col-4">
    <div class="chart__name">
      Best friend
    </div>
    <div class="chart__type">
      Kananishino
    </div>
  </div>
  <div class="chart__view col-4">
    546 lượt xem
  </div>
</div>
<div class="chart__item">
  <div class="chart__img col-4">
    <span class="mr-1 chart_tt">1,</span>
    <img src="/assets/images/anh3.png" alt="">
  </div>
  <div class="chart__info col-4">
    <div class="chart__name">
      Best friend
    </div>
    <div class="chart__type">
      Kananishino
    </div>
  </div>
  <div class="chart__view col-4">
    546 lượt xem
  </div>
</div>
<div class="chart__item">
  <div class="chart__img col-4">
    <span class="mr-1 chart_tt">1,</span>
    <img src="/assets/images/anh3.png" alt="">
  </div>
  <div class="chart__info col-4">
    <div class="chart__name">
      Best friend
    </div>
    <div class="chart__type">
      Kananishino
    </div>
  </div>
  <div class="chart__view col-4">
    546 lượt xem
  </div>
</div>
<div class="chart__item">
  <div class="chart__img col-4">
    <span class="mr-1 chart_tt">1,</span>
    <img src="/assets/images/anh3.png" alt="">
  </div>
  <div class="chart__info col-4">
    <div class="chart__name">
      Best friend
    </div>
    <div class="chart__type">
      Kananishino
    </div>
  </div>
  <div class="chart__view col-4">
    546 lượt xem
  </div>
</div>
<div class="chart__item">
  <div class="chart__img col-4">
    <span class="mr-1 chart_tt">1,</span>
    <img src="/assets/images/anh3.png" alt="">
  </div>
  <div class="chart__info col-4">
    <div class="chart__name">
      Best friend
    </div>
    <div class="chart__type">
      Kananishino
    </div>
  </div>
  <div class="chart__view col-4">
    546 lượt xem
  </div>
</div>
<div class="chart__item">
  <div class="chart__img col-4">
    <span class="mr-1 chart_tt">1,</span>
    <img src="/assets/images/anh3.png" alt="">
  </div>
  <div class="chart__info col-4">
    <div class="chart__name">
      Best friend
    </div>
    <div class="chart__type">
      Kananishino
    </div>
  </div>
  <div class="chart__view col-4">
    546 lượt xem
  </div>
</div>
<div class="chart__item">
  <div class="chart__img col-4">
    <span class="mr-1 chart_tt">1,</span>
    <img src="/assets/images/anh3.png" alt="">
  </div>
  <div class="chart__info col-4">
    <div class="chart__name">
      Best friend
    </div>
    <div class="chart__type">
      Kananishino
    </div>
  </div>
  <div class="chart__view col-4">
    546 lượt xem
  </div>
</div>
<div class="chart__item">
  <div class="chart__img col-4">
    <span class="mr-1 chart_tt">1,</span>
    <img src="/assets/images/anh3.png" alt="">
  </div>
  <div class="chart__info col-4">
    <div class="chart__name">
      Best friend
    </div>
    <div class="chart__type">
      Kananishino
    </div>
  </div>
  <div class="chart__view col-4">
    546 lượt xem
  </div>
</div>
