
<div class="featured">
  <div class="content__title">
    Album nổi bật
    <div class="featured__buttons">
      <span class="active"><i class="tio tio-chevron-left"></i></span>
      <span class="ml-1"><i class="tio tio-chevron-right"></i></span>
    </div>
  </div>
  <div class="featured__list">
    <div class="featured__item">
      <img src="/assets/images/anh1.png" alt="">
      <div class="featured__info">
        <div class="featured__name">
          Duu Duu Duu
        </div>
        <div class="featured__type">
          Kananishino
        </div>
      </div>
    </div>
    <div class="featured__item">
      <img src="/assets/images/anh2.png" alt="">
      <div class="featured__info">
        <div class="featured__name">
          Duu Duu Duu
        </div>
        <div class="featured__type">
          Kananishino
        </div>
      </div>
    </div>
    <div class="featured__item">
      <img src="/assets/images/anh3.png" alt="">
      <div class="featured__info">
        <div class="featured__name">
          Duu Duu Duu
        </div>
        <div class="featured__type">
          Kananishino
        </div>
      </div>
    </div>
    <div class="featured__item">
      <img src="/assets/images/anh4.png" alt="">
      <div class="featured__info">
        <div class="featured__name">
          Duu Duu Duu
        </div>
        <div class="featured__type">
          Kananishino
        </div>
      </div>
    </div>
    <div class="featured__item">
      <img src="/assets/images/anh1.png" alt="">
      <div class="featured__info">
        <div class="featured__name">
          Duu Duu Duu
        </div>
        <div class="featured__type">
          Kananishino
        </div>
      </div>
    </div>
    <div class="featured__item">
      <img src="/assets/images/anh2.png" alt="">
      <div class="featured__info">
        <div class="featured__name">
          Duu Duu Duu
        </div>
        <div class="featured__type">
          Kananishino
        </div>
      </div>
    </div>
  </div>
</div>
