<div class="content">
  <div class="body" *ngIf="list.length != 0">
    <div class="card position-relative">
      <div class="card-header">
        <div class="quantity"><span style="color: #dd2f6e">{{index + 1}}</span>/{{list.length}}</div>
        <div class="filter">
          <p-dropdown [options]="options" (onChange)="changeStatus($event)" placeholder="Tất cả" optionLabel="label" optionValue="value" [showClear]="true"></p-dropdown>
        </div>
      </div>
      <div class="card-body cursor-pointer" (click)="show()">
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <div class="char">
                {{list[arrIndex[index]]?.name}}
              </div>
            </div>
            <div class="flip-box-back">
              <h2>{{list[arrIndex[index]]?.name}}</h2>
              <p>{{list[arrIndex[index]]?.mean}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div>click vào để lật thẻ</div>
      </div>
      <div class="left-control position-absulute">
        <div class="left">
          <button [disabled]="index == 0" (click)="changeIndex(false)" pButton pRipple type="button" icon="pi pi-angle-left" class="p-button-rounded p-button-secondary"></button>
        </div>
      </div>
      <div class="right-control position-absulute">
        <div class="right">
          <button [disabled]="index + 1 == list.length" (click)="changeIndex(true)" pButton pRipple type="button" icon="pi pi-angle-right" class="p-button-rounded p-button-secondary"></button>
        </div>
      </div>
    </div>
    <div class="option">
      <button [disabled]="checkRemember(list[arrIndex[index]]?.id)" (click)="remember(list[arrIndex[index]]?.id)" pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-success p-button-outlined"></button>
      Đã nhớ
      <button [disabled]="!checkRemember(list[arrIndex[index]]?.id)" (click)="remember(list[arrIndex[index]]?.id)" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined ml-2"></button>
      Chưa nhớ
    </div>
  </div>
  <div class="text-center" *ngIf="list.length == 0">
    Danh sách trống.
  </div>
</div>

