
<div class="tag">
  <div class="content__title">
    Popular Tag
  </div>
  <div class="tag__list">
    <div class="tag__item">anime</div>
    <div class="tag__item">anime</div>
    <div class="tag__item">anime</div>
    <div class="tag__item">anime</div>
    <div class="tag__item">anime</div>
    <div class="tag__item">anime</div>
    <div class="tag__item">anime</div>
    <div class="tag__item">anime</div>
    <div class="tag__item">anime</div>
    <div class="tag__item">anime</div>
    <div class="tag__item">anime</div>
    <div class="tag__item">anime</div>
    <div class="tag__item">anime</div>
    <div class="tag__item">anime</div>
    <div class="tag__item">anime</div>
  </div>
</div>
