
<div class="singer">
  <div class="content__title">Nghệ sĩ</div>
  <div #boxSinger class="singer__list" (mousedown)="onMouseDown($event)" (mouseleave)="onMouseLeave()" (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp()">
    <div class="singer__item">
      <img src="/assets/images/anh2.png" alt="">
      <div class="singer__info">
        <div class="singer__name">Kananishino</div>
        <div class="singer__type">Pop music</div>
      </div>
    </div>
    <div class="singer__item">
      <img src="/assets/images/anh2.png" alt="">
      <div class="singer__info">
        <div class="singer__name">Kananishino</div>
        <div class="singer__type">Pop music</div>
      </div>
    </div>
    <div class="singer__item">
      <img src="/assets/images/anh2.png" alt="">
      <div class="singer__info">
        <div class="singer__name">Kananishino</div>
        <div class="singer__type">Pop music</div>
      </div>
    </div>
    <div class="singer__item">
      <img src="/assets/images/anh2.png" alt="">
      <div class="singer__info">
        <div class="singer__name">Kananishino</div>
        <div class="singer__type">Pop music</div>
      </div>
    </div>
    <div class="singer__item">
      <img src="/assets/images/anh2.png" alt="">
      <div class="singer__info">
        <div class="singer__name">Kananishino</div>
        <div class="singer__type">Pop music</div>
      </div>
    </div>

    <div class="singer__item">
      <img src="/assets/images/anh2.png" alt="">
      <div class="singer__info">
        <div class="singer__name">Kananishino</div>
        <div class="singer__type">Pop music</div>
      </div>
    </div>

    <div class="singer__item">
      <img src="/assets/images/anh2.png" alt="">
      <div class="singer__info">
        <div class="singer__name">Kananishino</div>
        <div class="singer__type">Pop music</div>
      </div>
    </div>

    <div class="singer__item">
      <img src="/assets/images/anh2.png" alt="">
      <div class="singer__info">
        <div class="singer__name">Kananishino</div>
        <div class="singer__type">Pop music</div>
      </div>
    </div>

    <div class="singer__item">
      <img src="/assets/images/anh2.png" alt="">
      <div class="singer__info">
        <div class="singer__name">Kananishino</div>
        <div class="singer__type">Pop music</div>
      </div>
    </div>
  </div>
</div>
