/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.row {
  display: flex;
}

.mr-1 {
  margin-right: 1rem;
}

.ml-2 {
  margin-left: 2rem
}

.position-relative {
  position: relative;
}

.position-absulute {
  position: absolute;
}


